{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}{{ member }} by {{ author }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>{{ name }}</h1>
        <img src="../img/{{ image2 }}" alt="" class="img-fluid mb-4">
            </div>
      <div class="col-md-6">
          <h2>{{ instruments }}</h2>
          <p>{{ description | safe }}</p>
      </div>
    </div>
  </article>
{% endblock %}
