<body>
  <div class="container">
    <h1>The story</h1>
    <p>Originally known as the Quarrymen, the Beatles began in 1960 as a humble group of rock-n-rollers out of Liverpool. Gradually they gained notoriety locally, building a reputation playing clubs during a residency in Hamburg, Germany as well as Liverpool.</p>
    <img src="img/hamburg.webp" alt="The Beatles in Hamburg, 1960" class="img-fluid mb-4">
    <p>By 1962, the Beatles had signed a record deal with EMI and released their first single, 'Love Me Do'. The song was a hit, and the band's popularity began to grow. The Beatles' first album, 'Please Please Me', was released in 1963 and was a smash success.</p>
    <p>One of the pivotal moments that marked the Beatles' breakthrough into the American market and the peak of 'Beatlemania' came with their performance on The Ed Sullivan Show. On February 9, 1964, The Beatles made their first live American television appearance on the show, which was and remains one of the most watched television events in history. The broadcast drew an estimated 73 million viewers, which was about 34% of the American population at the time, and solidified them as a force to be reckoned with in the music industry.</p>
  </div>
