{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>The Fab Four</h1>
<p>In 19__, a quartet out of Liverpool, England released __, kicking off the output of arguably the most prolific and influential band of all time. The Beatles, comprised of John Lennon, Paul McCartney, George Harrison and Ringo Starr, dominated the 1960s, revolutionizing the genre of pop music, crossing global borders, and blazing new trails in audio recording.</p>
    </div>
  </div>
</div>
{% endblock %}