#jumbo {
  background: url(../img/jumboleap.jpeg) no-repeat center top;
  background-size: cover;
  color: white;
  padding-top: 12rem;
  height: 50vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
